.theme-color,
.timer-btn {
	color: #ea1b62;
}

.theme-bg,
.video-btn,
.video-btn:after,
.stie-btn-solid,
.subform .subform-btn:hover {
	background: #ea1b62;
}

.theme-sbg,
.video-btn:hover,
.stie-btn-solid:hover,
.timer-btn:hover {
	background: #d61154;
}

.theme-bdr {
	border-color: #ea1b62;
}

.theme-sbdr,
.timer-btn:hover {
	border-color: #d61154;
}